.menu{
	text-align: right;
}
.imagen-principal{
	display: block;
	margin: auto;
	width: 10%;
}
h1{
	text-align: center;
	color: blue;
}
#img1, #img2, #img3{
	width: 300px;
	height: 250px;
}
#img-final{
	width: 80%;
}
footer{
	background-color: black;
	color: white;
	text-align: right;
}